<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="TPI.Properties.Settings.TPIConnectionString" connectionString="Data Source=DESKTOP-3EJT3F4\SQLEXPRESS;Initial Catalog=TPI;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="CadenaBD" value="Data Source=DESKTOP-G301GGN\SQLEXPRESS;Initial Catalog=TPI;Integrated Security=True"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
